[Unit]
Description=Take a scheduled btrfs-patrol snapshot
Documentation=https://github.com/jccl1706/btrfs-patrol

[Service]
Type=oneshot
ExecStart=/usr/bin/btrfs-patrol snapshot --kind timer --description "Scheduled snapshot"
